<div class="card">
  <div class="card-header">
    <h3 class="card-title">Organisations</h3>
    <div class="card-options">
      <%= link_to '<i class="fe fe-plus"></i> Create Organisation'.html_safe, new_organisation_path, class: 'btn btn-primary', style: 'color: white' %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table card-table table-striped table-vcenter">
      <thead>
        <tr>
          <th>Name</th>
          <th>Users</th>
          <th>Projects</th>
          <th>Sites</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @organisations.each do |organisation| %>
        <tr>
          <td><%= organisation.name %>
          <td><%= organisation.users.count %></td>
          <td><%= organisation.projects.count %></td>
          <td><%= organisation.projects.sum { |project| project.sites.count} %></td>
          <td class="w-1">
            <%= link_to '<i class="fe fe-trash"></i>'.html_safe, organisation, method: :delete, data: { confirm: 'Are you sure?' } unless organisation == current_user.organisation %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
