<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Organisation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.platform_admin? %>
              <%= link_to user.email, user_path(user) %>
          <% else %>
              <%= user.email %>
          <% end %>
          <% if user.admin? %>
              <span class="tag is-info is-pulled-right">Admin</span>
          <% end %>
          <% if user.invited_to_sign_up? %>
              <span class="tag is-success is-pulled-right">Invite Pending</span>
          <% end %>
        </td>
        <td><%= user.organisation.try(:name) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } unless user == current_user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Invite User', new_user_invitation_path %>
