<%= form_for(slack_setting) do |f| %>
  <% if slack_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slack_setting.errors.count, "error") %> prohibited this slack_setting from being saved:</h2>

      <ul>
      <% slack_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :webhook_url, class: 'form-label' %>
    <div class="control">
      <%= f.text_field :webhook_url, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :channel, class: 'form-label' %>
    <div class="control">
      <%= f.text_field :channel, class: 'form-control' %>
    </div>
  </div>

  <div class="fieform-groupld">
    <%= f.label :username, class: 'form-label' %>
    <div class="control">
      <%= f.text_field :username, class: 'form-control' %>
    </div>
  </div>

  <%= f.hidden_field :project_id %>

  <div class="card-footer text-right">
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
