
<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: 'label' %>
    <div class="control">
      <%= f.text_field :name, autofocus: true, class: 'input' %>
    </div>
  </div>

  <div class="control is-grouped">
    <p class="control">
      <%= f.submit "Save", class: 'button is-primary' %>
    </p>
  </div>
<% end %>
