<h1 class="title is-1"><%= @project.name %></h1>

<div class="actions">
  <%= link_to 'Delete Project', project_path(@project), class: 'button is-danger', method: :delete, :data => {:confirm => 'Are you sure?'} %>
  <% if @project.slack_setting %>
    <%= link_to 'Slack Settings', edit_slack_setting_path(@project.slack_setting), class: 'button is-success is-outlined' %>
  <% else %>
    <%= link_to 'Slack Settings', new_slack_setting_path(project_id: @project.id), class: 'button is-outlined' %>
  <% end %>
  <%= link_to 'New Site', new_site_path, class: 'button is-success' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project.sites.each do |site| %>
      <tr>
        <th><%= link_to site.name, site_path(site) %></th>
        <td><%= site.url %></td>
        <td>
          <span class="tag <%= site_status_class(site) %>">
            <%= site.state.to_s.titleize %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
