<h1 class="title is-1"><%= @project.name %></h1>

<%= link_to 'New Site', new_site_path, class: 'button is-success create-button' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @project.sites.each do |site| %>
      <tr>
        <th><%= link_to site.name, site_path(site) %></th>
        <td><%= site.url %></td>
        <td>
          <span class="tag <%= site.active? ? 'is-success' : 'is-danger' %>">
            <%= site.active? ? 'Up' : 'Down' %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
