<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'card' }) do |f| %>
            <div class="card-body p-6">
              <div class="card-title">Login to your account</div>
              <div class="form-group">
                <label class="form-label">Email address</label>
                <%= f.email_field :email, autofocus: true, placeholder: 'Enter email', class: 'form-control' %>
              </div>
              <div class="form-group">
                <label class="form-label">Password</label>
                <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="user[remember_me]" />
                  <span class="custom-control-label">Remember me</span>
                </label>
              </div>
              <div class="form-footer">
                <%= f.submit "Sign in", class: 'btn btn-primary btn-block' %>
              </div>
            </div>
          <% end %>
          <div class="text-center text-muted">
            Don't have account yet? <%= link_to 'Sign up', new_user_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
