<%= form_for(site) do |f| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, class: 'label' %>
  <div class="control">
    <%= f.text_field :name, autofocus: true, class: 'input' %>
  </div>

  <%= f.label :url, class: 'label' %>
  <div class="control">
    <%= f.text_field :url, class: 'input' %>
  </div>

  <%= f.label :verify_ssl, class: 'label' %>
  <div class="control">
    <%= f.check_box :verify_ssl %>
  </div>

  <%= f.hidden_field(:project_id, value: site.project_id) %>

  <div class="control is-grouped">
    <p class="control">
      <%= f.submit "Save", class: 'button is-primary' %>
    </p>
  </div>
<% end %>
