<%= form_for(site) do |f| %>
  <h1>Add Site</h1>
  <hr>

  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-label is-medium label">
      <label class="label">Name of Site</label>
    </div>
    <div class="field-body">
        <p class="control is-expanded">
          <input class="input is-medium" type="text" name="site[name]">
        </p>
      </div>
  </div>

  <div class="tabs is-right is-medium is-boxed">
    <ul>
      <li class="tab-link" data-tab="optional"><a>Optional</a></li>
      <li class="tab-link is-active" data-tab="required"><a>Required</a></li>
    </ul>
  </div>

  <div id="required" class="tab-content">
    <div class="field is-horizontal has-addons">
      <div class="field-label is-medium label">
        <label class="label">URL</label>
      </div>
      <div class="field-body">
        <p class="control">
          <span class="select is-medium">
            <select name="site[protocol]">
              <option>https://</option>
              <option>http://</option>
            </select>
          </span>
        </p>
        <p class="control is-expanded">
          <input class="input is-medium" type="text" name="site[url]">
        </p>
        </div>
    </div>
  </div>

  <div id="optional" class="tab-content hidden">
    <div class="field is-horizontal">
      <div class="field-label is-medium label">
        <label class="label">Expected Status Code</label>
      </div>
      <div class="field-body">
          <p class="control is-expanded">
            <input class="input is-medium" type="number" min="1" max="65535" name="site[custom_status]">
          </p>
        </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-medium label">
        <label class="label">Verify SSL</label>
      </div>
      <div class="field-body">
        <label class="checkbox">
          <%= f.check_box :verify_ssl %>
        </label>
        </div>
    </div>
  </div>

  <%= f.hidden_field(:project_id, value: site.project_id) %>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-success is-medium is-pulled-right">
            <span class="icon is-small">
              <i class="fa fa-check"></i>
            </span>
            <span>Create</span>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
