<h2>
  <%= @site.name %>
</h2>

<br>
<div class="actions">
  <%= link_to 'Delete Site', site_path(@site), class: 'button is-danger', method: :delete, :data => {:confirm => 'Are you sure?'} %>
</div>

<%= line_chart @data, @options %>

<div class="columns site-stats">
  <div class="column">
    <h1>Uptime</h1>
    <p>
      <%- if @site.checks.count > 0 %>
        <%= @site.uptime %>%
      <% else %>
        N/A
      <% end %>
    </p>
  </div>
  <div class="column">
    <h1>Average Response</h1>
    <p>
      <%- if @site.checks.average(:time) %>
        <%= (@site.checks.average(:time) * 1000).round  %>ms
      <% else %>
        N/A
      <% end %>
    </p>
  </div>
  <div class="column">
    <h1>Last Downtime</h1>
    <p>
      <%= @site.last_downtime ? time_ago_in_words(@site.last_downtime) + ' ago' : 'N/A' %>
    </p>
  </div>
  <div class="column success-in-label">
    <h1>Status</h1>
    <p class="<%= site_status_class(@site) %> site-status-<%= @site.id %>"></p>
  </div>
</div>

<hr>

<div>
  <h3 class="is-3">Latest Checks</h3>
</div>

<table class="table latest-checks">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Status Code</th>
    </tr>
  </thead>
  <tbody>
    <% @site.checks.order('created_at desc').take(10).each do |check| %>
      <tr>
        <th><%= check.created_at %></th>
        <th><%= check.status %></th>
      </tr>
     <% end %>
  </tbody>
</table>