<h2>Site</h2>

<br>
<div class="actions">
  <%= link_to 'Delete Site', site_path(@site), class: 'button is-danger', method: :delete, :data => {:confirm => 'Are you sure?'} %>
</div>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

<p>
  <strong>Project:</strong>
  <%= @site.project.name %>
</p>

<p>
  <strong>Verify SSL:</strong>
  <%= @site.verify_ssl %>
</p>

<h2>Checks</h2>

<ul>
  <% @site.checks.last(10).each do |check| %>
      <li><%= check.created_at %> - <%= check.status %> - <%= check.time %></li>
  <% end %>
</ul>
