<h2>Site</h2>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @site.url %>
</p>

<p>
  <strong>Project:</strong>
  <%= @site.project.name %>
</p>

<h2>Checks</h2>

<ul>
  <% @site.checks.last(10).each do |check| %>
      <li><%= check.created_at %> - <%= check.status %></li>
  <% end %>
</ul>
