<!DOCTYPE html>
<html>
  <head>
    <title>Juno</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <% if notice %>
      <div class="notification is-success">
        <button class="delete"></button>
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="notification is-warning">
        <button class="delete"></button>
        <%= alert %>
      </div>
    <% end %>

    <div class="content container">
      <%= yield %>
    </div>
  </body>
</html>
